@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  display: flexbox;
}

.App{
  background: rgb(29,50,96);
  background: radial-gradient(circle, rgba(29,50,96,1) 37%, rgba(18,39,87,1) 60%, rgba(14,19,46,1) 100%);
  height: 100vh;
  position: relative;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

